.loc2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.tires2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.miles2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#overlay-example{
    line-height: 10%;
 border:2px solid black;
 border-radius:15px 20px;
 padding:10px;
 color:blue;
 margin-left:1%;
}