.loc{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.tire{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.miles{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
